#ref{color:rgb(150, 0, 28);
text-align: left;}
body {
background-color: chartreuse;}
h2{text-decoration: #060809 wavy underline;}
#bobby{color:blueviolet;
text-decoration: rgb(22,87,98) wavy underline;
font-size: 27px;}
*{font-family:fantasy;}