p{color:rgb(229, 206, 3);}
body {background-color: #007F73;}
button {background-color: #4CCD99;
    color:rgb(17, 17, 16);}
div {background-color: #4CCD99;}
.tyoo{color: rgb(253, 218, 223);}
h1{text-align: center ; background-color:#FFC700;}
h6{color: rgb(229, 206, 3);}
textarea{background-color: #FFF455;}
a{color:#2d02559a}